.search-container {
  cursor: pointer;
  margin: 0 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #737373;
  padding-left: 10px;
}

.search-text {
  color: #737373;
}
.custom-card {
    height: 118px;
    color: #faf8f9 !important;
  }

.calender-date {
  color: #000000;
  font-weight: 500;
  font-family: "Poppins" !important;
}
.form-title {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins" !important;
}

.task-done-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.calender-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.add-task-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-task {
  width: 95%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  font-family: "Poppins" !important;
}

.custom-popover-text {
  color: red !important;
}

.custom-popover {
  --popover-margin-top: 40px; /* Adjust this value as needed */
}
