.search-container {
  margin: 0 10px;
  padding-top: 100px;
}

/* .search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #737373;
  padding-left: 10px; */
/* } */

/* .search-text {
  color: #737373;
} */
.custom-card {
  height: 110px;
}

.calender-date {
  color: #000000;
  font-weight: 500;
  font-family: "Poppins" !important;
}
.form-title {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins" !important;
  line-height: 24px;
}

/*.task-done-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.calender-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
} */

.add-task-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-task {
  width: 95%;
  /* margin: 0 auto;
  text-transform: none;
  font-family: "Poppins" !important; */
}

.custom-popover-text {
  color: red !important;
}

ion-action-sheet.my-custom-class {
  --background: #ffffff;
  --backdrop-opacity: 0.6;
  /* --button-background-selected: #e97223; */
  --button-color: #e0001e;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}
.action-sheet-wrapper.sc-ion-action-sheet-md {
  margin-bottom: 8rem;
   /* display: flex;
  justify-content: center; */
}
/* @media (any-hover: hover) {
  ion-action-sheet.my-custom-class .action-sheet-button:hover {
    color: #000000;
  }
} */
