@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: "Poppins" !important;
  background: #fafafa !important;
  color: #000 !important;
}

.MuiBox-root {
  padding: 15px !important;
  background-color: white;
  color: #000;
}

ion-app,
ion-content,
ion-item,
ion-button {
  font-family: "Poppins" !important;
  --background: #ffff !important;
  --color: #000 !important;
}

.create-task-button {
  background-color: #da2128 !important;
  padding: 10px;
  color: #fff;
}

.segment-button-checked {
  --color-checked: #515a63 !important;
}

.swalOverlayLoader {
  background-color: rgba(0, 0, 0, 0);
}

.swal2-loader {
  border-color: black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  width: 7em;
  height: 7em;
  border-width: 0.5em;
}

.MuiSnackbar-root {
  z-index: 9999999 !important;
}

ion-toolbar {
  --background: #ffffff;
  /* --color: white; */

  --border-color: transparent;
  --border-width: 0px 0;
  --border-style: solid;

  --min-height: 70px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-menu-button {
  color: #000;
}

ion-alert.logout-custom-alert {
  .alert-wrapper {
    width: 100%;
  }
}

ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --background: inherit !important;
}

.bg-theme {
  background-color: #dc852d !important;
}

.tab-selected {
  color: #dc852d !important;
}

.fs-07 {
  font-size: 0.7rem !important;
}

.fs-08 {
  font-size: 0.8rem !important;
}

.fs-09 {
  font-size: 0.9rem !important;
}

.fs-11 {
  font-size: 1.1rem !important;
}

.fs-13 {
  font-size: 1.3rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.text-theme {
  color: #dc852d !important;
}

input:focus-visible {
  outline: 0 !important;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: unset !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: #e6790c !important;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

:host {
  --border-radius: 0rem !important;
}
