<div class="flex justify-between bg-blue-900 text-white p-4">
  <span>Properties</span>
  <i
    class="fa-solid fa-xmark text-white text-xl cursor-pointer"
    (click)="closeModal()"
  ></i>
</div>
<form class="h-lvh px-4">
  <div
    *ngFor="let item of getPropertyFields"
    class="mt-3"
    [ngClass]="[
      item?.field_property_type == 'boolean'
        ? 'flex items-center'
        : 'flex flex-col'
    ]"
  >
    <label
      [for]="item?.field_property_id"
      class="text-sm"
      [ngClass]="[item?.field_property_type == 'boolean' ? 'order-2 ms-2' : '']"
      >{{ item?.field_property_label_display }}</label
    >
    <input
      *ngIf="
        item?.field_property_type !== 'select' &&
        item?.field_property_type !== 'jsonArray'
      "
      [id]="item?.field_property_id"
      [type]="
        item?.field_property_type == 'boolean'
          ? 'checkbox'
          : item?.field_property_type
      "
      class="border-2 rounded-lg p-2 text-sm"
      [ngClass]="[
        item?.field_property_type == 'boolean' ? 'focus:outline-none' : ''
      ]"
      (input)="
        getInputFieldValues(
          item?.field_property_name,
          item?.field_property_type == 'boolean'
            ? $event.target.checked
            : $event.target.value
        )
      "
    />
    <div
      class="w-full flex flex-col"
      *ngIf="
        item?.field_property_type !== 'select' &&
        item?.field_property_type == 'jsonArray'
      "
    >
      <div class="flex items-center">
        <input
          [id]="item?.field_property_id"
          [type]="
            item?.field_property_type == 'boolean'
              ? 'checkbox'
              : item?.field_property_type
          "
          class="border-2 rounded-lg p-2 text-sm w-full me-2"
          [ngClass]="[
            item?.field_property_type == 'boolean' ? 'focus:outline-none' : ''
          ]"
          (input)="getOptionValues($event.target.value)"
        />
        <button
          type="button"
          class="bg-red-500 text-white px-4 py-2 rounded-lg"
          (click)="addNewOptions(item)"
        >
          +
        </button>
      </div>
      <div class="" *ngFor="let item of createdOptions; let i = index">
        <input
          type="text"
          placeholder="Option {{ i + 1 }}"
          class="border-2 rounded-lg p-2 mt-2 text-sm w-full"
          (input)="getOptionValues($event.target.value)"
        />
      </div>
    </div>

    <mat-form-field
      class="w-full border-2 rounded-lg px-2 properties-select"
      appearance="none"
      *ngIf="
        item?.field_property_type == 'select' &&
        item?.field_property_type !== 'jsonArray'
      "
    >
      <mat-select
        class="text-sm"
        (selectionChange)="
          getInputFieldValues(item?.field_property_name, $event.value)
        "
      >
        <mat-option
          *ngFor="let option of item?.options"
          [value]="option.value"
          >{{ option?.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="fixed right-4 bottom-0">
    <button
      (click)="closeModal()"
      type="button"
      class="border mb-3 px-6 py-2 text-sm border-red-500 rounded text-red-500 rounded-lg me-4 outline-none"
    >
      Cancel
    </button>
    <button
      (click)="submitForm()"
      type="button"
      class="bg-red-500 mb-3 px-6 py-2 text-sm rounded text-white rounded-lg"
    >
      Submit
    </button>
  </div>
</form>
