<mat-form-field class="w-full relative" appearance="outline">
  <div
    *ngIf="disabled"
    class="absolute right-4 -top-5 cursor-pointer"
    (click)="editFormField(fieldData?.form_field_assoc_id)"
  >
    <i class="fa-solid fa-pen-to-square text-lg bg-white"></i>
  </div>
  <div
    *ngIf="disabled"
    class="absolute -right-2 -top-5 cursor-pointer"
    (click)="deleteFormField(fieldData?.form_field_assoc_id)"
  >
    <i class="fa-solid fa-circle-xmark text-xl text-red-600 bg-white"></i>
  </div>
  <mat-label>{{ labelValue }}</mat-label>
  <input
    matInput
    [disabled]="disabled"
    class="border rounded-md w-full py-2 ps-2 !outline-none"
  />
</mat-form-field>
<!-- <span class="text-red-600 text-sm" *ngIf="fieldData?.options?.required"
  >Please enter {{ fieldData?.options?.label }}</span
> -->
