<mat-form-field class="w-full relative" appearance="outline">
  <div
    class="absolute right-4 -top-5 cursor-pointer"
    (click)="editFormField(fieldData?.index)"
  >
    <i class="fa-solid fa-pen-to-square text-lg bg-white"></i>
  </div>
  <div
    class="absolute -right-2 -top-5 cursor-pointer"
    (click)="deleteFormField(fieldData?.index)"
  >
    <i class="fa-solid fa-circle-xmark text-xl text-red-500 bg-white"></i>
  </div>
  <mat-label>{{ fieldData?.label }}</mat-label>
  <input
    matInput
    [type]="fieldData?.type"
    [placeholder]="fieldData?.placeholder ? fieldData?.placeholder : ''"
    class="border rounded-md w-full py-2 ps-2 !outline-none"
    [attr.maxlength]="fieldData?.maxlength"
    [attr.minlength]="fieldData?.minlength"
  />
</mat-form-field>
