<app-common-data-table
        #adminManagementDetails
        [colModel]="cols"
        gridId="adminManagementDetails"
        sField="updatedDate"
        sOrder="desc"
        [lazyLoad]="true"
        selectType="none"
        [localData]=""
        idColumn="fac_id"
        [rowsPerPage]="rowsPerPage"
        paginationpos="bottom"
        [actionColumnTemplate]="assessmentEditButton"
        [actionColumnRequired]="true"
      >

            <ng-template #assessmentEditButton let-gridData="griddata">
              <div class="flex space-x-4 text-sm">
                <button class="flex items-center hover:text-red-700 text-sm">
                    <img src="assets/images/adminManagement/key_vertical.svg" alt="Key Icon" class="me-2" />
                  Reset Password
                </button>
                <button class="flex items-center hover:text-red-700 text-sm">
                  <img src="assets/images/adminManagement/delete.svg" alt="Delete Icon" class="me-2" />
                  Delete
                </button>
              </div>
            </ng-template>
</app-common-data-table>
