<form class="px-4 pt-4">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label class="text-sm">Template Id</mat-label>
    <input matInput type="text" class="outline-none text-sm" />
  </mat-form-field>

  <mat-form-field class="w-full my-4" appearance="outline">
    <mat-label class="text-sm">SMS Body</mat-label>
    <textarea matInput class="outline-none text-sm"></textarea>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label class="text-sm">Receiver's Mobile Number</mat-label>
    <input matInput type="text" class="outline-none text-sm" />
  </mat-form-field>

  <button
    type="submit"
    class="text-sm bg-red-600 text-white rounded-lg w-28 py-2 fixed bottom-4 right-6"
  >
    Submit
  </button>
</form>
