<h2 mat-dialog-title class="!flex !items-center !justify-between !m-0"><span (click)="backUpload()" class="backIcon"><i
      class="fa fa-long-arrow-left"></i> </span> <span class="titleText">{{data.dialog_title}}</span>
  <span class="cursor-pointer" (click)="closeDialog()"><img src="../../../../../assets/images/profile/close.png" alt=""
      class="w-4 h-4"></span>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row uploadImg" *ngIf="!uploadedFile">
    <div class="col-md-12" appDnd (fileDropped)="onFileDropped($event)">
      <div class="imageUploadBox">
        <img src="../../../../../assets/images/profile.svg" alt="" class="w-full">
      </div>
    </div>
    <div class="text-center">
      <p class="text-base">Drag and drop</p>
    </div>
    <div class="text-center">
      <p class="text-base text-dark">- or -</p>
    </div>
    <div class="chooseFileBox">
      <input type="file" #fileDropRef id="fileDropRef" accept="image/*" (change)="fileBrowseHandler($event)"
        class="uploadFileInput" />
      <button
        class="btn uploadBtn bg-red-600 hover:bg-red-700 w-full py-2 rounded-full text-base font-bold my-3 mx-auto cursor-pointer text-white">Upload</button>
    </div>
  </div>

  <div class="row my-4 mx-auto" *ngIf="uploadedFile">
    <ng-container *ngIf="data.aspectRatio">
      <image-cropper [imageChangedEvent]="uploadedFile" [imageFile]="uploadedFile[0]" [cropperMinWidth]="data.width"
        [cropperMinHeight]="data.height" [maintainAspectRatio]="true" [aspectRatio]="data.ratio" format="png"
        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()">
      </image-cropper>
    </ng-container>

    <ng-container *ngIf="!data.aspectRatio">
      <image-cropper [imageChangedEvent]="uploadedFile" [imageFile]="uploadedFile[0]" [cropperStaticWidth]="data.width"
        [cropperStaticHeight]="data.height" format="png" (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
      </image-cropper>
    </ng-container>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()"
    class="text-red-600 me-4 border border-red-600 px-4 py-2 rounded-full">Cancel</button>
  <button mat-button cdkFocusInitial type="button" *ngIf="uploadedFile" (click)="confirmFileUpload()"
    class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-full">Confirm</button>
</mat-dialog-actions>