<div class="flex items-center justify-between px-2 md:px-10 py-3 shadow">
  <img src="assets/images/header/headerLogo.svg" class="w-16" />
  <div (click)="showProfileCard = !showProfileCard" class="flex items-center">
    <div class="userImg d-flex align-items-center justify-content-end me-2">
      <img [src]="
          userData?.profile_pic_url ||
          '../../../assets/images/profile/profile.svg'
        " alt="" class="h-9 w-9 rounded-full" />
    </div>
    <span>{{ userData.display_name }}</span>

    <!-- <div
      class="px-3 py-2 flex items-center cursor-pointer"
      (click)="logoutUser()"
    >
      <i class="fa-solid fa-right-from-bracket me-2 text-red-600"></i>
      <span class="me-4">Logout</span>
    </div> -->
    <i class="fa-solid fa-angle-down arrow-down ms-2"></i>
    <div class="absolute shadow-sm show-profile bg-white border border-2 d-flex flex-column rounded ms-2 mt-32"
      *ngIf="showProfileCard">
      <span class="custom-arrow absolute"></span>
      <div class="px-3 py-2 border-bottom flex items-center cursor-pointer" (click)="userProfile()">
        <i class="fa-solid fa-user me-2 text-red-600"></i>
        <span class="me-4">Profile</span>
      </div>
      <div class="px-3 py-2 flex items-center cursor-pointer" (click)="logoutUser()">
        <i class="fa-solid fa-right-from-bracket me-2 text-red-600"></i>
        <span class="me-4">Logout</span>
      </div>
    </div>
  </div>
</div>