::ng-deep .mat-tab-label {
width:50%;
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: center;
}

.iconColor{
   color: #A64C58!important;
}

.bg-color{
    background-color: #F3E7E7;
}