<mat-tab-group class="w-100">
  <mat-tab label="Roles"  class="w-1/2">
    <div class="px-4 mt-4">
        <div class="bg-color rounded flex items-center px-3 py-2 my-5">
            <mat-icon class="ml-2 me-2 iconColor">search</mat-icon>
            <input matInput placeholder="Search for individuals" class="bg-color text-red-600 outline-none w-full" />
          </div>
        <div class="flex justify-between items-center py-4 px-4" *ngFor="let item of roles">
          <div class="flex justify-between items-center">
            <img
              src="../../../../../assets/images/workflow-assignment/rolesIcon.svg"
              alt=""
              class="h-8 w-8 mr-2"
            />
            <p class="font-medium">{{item.name}}</p>
          </div>
          <div>
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
    </div>

  </mat-tab>
  <mat-tab label="Individuals"  class="w-1/2">
    <div class="px-4 mt-4">
        <div class="bg-color rounded flex items-center px-3 py-2 my-5">
            <mat-icon class="ml-2 me-2 iconColor">search</mat-icon>
            <input matInput placeholder="Search for individuals" class="bg-color text-red-600 outline-none w-full" />
          </div>
        <div class="flex justify-between items-center py-4 px-4" *ngFor="let item of employees">
            <div class="flex justify-between items-center">
              <img
                src="../../../../../assets/images/workflow-assignment/rolesIcon.svg"
                alt=""
                class="h-10 w-10 mr-2"
              />
              <div>
                <div class="font-medium">{{item.name}}</div>
                <div class="text-xs">{{item.department}}</div>
              </div>
    
            </div>
            <div>
              <mat-checkbox class="example-margin"></mat-checkbox>
            </div>
        </div>      
    </div>

  </mat-tab>
</mat-tab-group>
