/* ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }
   */

   .custom-ion-item {
    --ion-background-color: #ffffff; /* Set background color to white */
  }