<app-title titleName="User Profile" additionalClass="text-lg font-bold" [canGoBack]="true"></app-title>
<div class="flex items-center justify-center h-screen">
    <ng-container *ngTemplateOutlet="
      screenTemplate;
      context: { active_screen: activeScreen }
    "></ng-container>
</div>

<ng-template let-activescreen="active_screen" #screenTemplate>
    <ng-container [ngSwitch]="activescreen">
        <ng-container *ngSwitchCase="'view_profile'">
            <div class="bg-white border border-2 p-8 rounded-2xl shadow-lg max-w-3xl w-full">
                <div class="flex justify-center mb-4 flex flex-col items-center">
                    <img [src]="
                    (authService.userInfo | async)?.profile_pic_url ||
                    '../../../assets/images/profile/profile.svg'
                  " alt="Profile Image" class="rounded-full h-24 w-24 object-cover" />
                    <input type="file" accept="image/*" #uploadFile style="display: none" />
                    <span class="text-blue-500 text-sm mt-1 inline-block cursor-pointer hover:text-blue-700 underline"
                        (click)="openImageUploadDialog()">Change Profile Image</span>
                </div>
                <form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()">
                    <div class="grid grid-cols-1 mb-3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Enter your first name" formControlName="first_name"
                                name="first_name" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="grid grid-cols-1 mb-3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Enter your last name" formControlName="last_name"
                                autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="grid grid-cols-1 mb-3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Enter your email" formControlName="email_id"
                                autocomplete="off" appInputChar="email" />
                        </mat-form-field>
                    </div>
                    <div class="grid grid-cols-1 mb-3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Mobile</mat-label>
                            <input matInput type="tel" placeholder="Enter your mobile number"
                                formControlName="mobile_number" maxlength="10" minlength="10" autocomplete="off"
                                appIntegerInput appMobileNumber="true" [appMin]="6000000000" [appMax]="9999999999"
                                [appRange]="[6000000000, 9999999999]" />
                        </mat-form-field>
                        <a href="#" class="text-blue-500 text-sm mt-1 inline-block">Click here to update Mobile
                            Number</a>
                    </div>
                    <div class="grid grid-cols-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob"
                                autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <button type="submit"
                        class="w-full bg-red-600 text-white py-2 hover:bg-red-700 rounded-full mt-4">Save
                        Changes</button>
                </form>
            </div>

        </ng-container>

        <!-- <ng-container *ngSwitchCase="'upload_profile_pic'">
            <div class="editProfileSection">
                <i class="fa-solid fa-arrow-left fs-5 me-2" (click)="cancelProfileUpload()" *ngIf="!uploadedFile"></i>
                <i class="fa-solid fa-arrow-left fs-5 me-2" (click)="cancelProfileUpload()" *ngIf="uploadedFile"></i>
                <span *ngIf="!uploadedFile" class="fs-5 fw-normal">Upload Profile Image</span>
                <span *ngIf="uploadedFile" class="fs-5 fw-normal">Profile Image Preview</span>
            </div>

            <div class="uploadImg" *ngIf="!uploadedFile">
                <div appDnd (fileDropped)="onFileDropped($event)"
                    class="uploadProfileSection d-flex align-items-center p-3">
                    <div class="">
                        <div class="me-3" style="width: 100px; height: 100px">
                            <img src="../../../../../assets/images/profile/uploadImg.svg" alt="" class="w-100" />
                        </div>
                    </div>
                    <div>
                        <div class="dragInfo">
                            <p>Drag and drop</p>
                        </div>
                        <div class="orInfo">
                            <p>- or -</p>
                        </div>
                        <div class="chooseFileBox">
                            <input type="file" #fileDropRef id="fileDropRef" accept="image/*"
                                (change)="fileBrowseHandler($event)" class="uploadFileInput" style="display: none" />
                            <button class="btn uploadBtn pswd" (click)="fileDropRef.click()">
                                Click here to upload
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-center mt-5">
                    <button class="edit border-0 text-white px-6 py-3 rounded-full w-75 bg-red-600" type="button"
                        (click)="cancelProfileUpload()">
                        Cancel
                    </button>
                    <button
                    class="bg-danger text-white border-0 w-100 p-3 rounded-pill"
                    type="button"
                  >
                    Confirm
                  </button>
                </div>
            </div>

            <div class="row mt-3" *ngIf="uploadedFile">
                <image-cropper [imageChangedEvent]="uploadedFile" [imageFile]="uploadedFile[0]" [cropperMinWidth]="300"
                    [cropperMinHeight]="300" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
                <div class="flex items-center justify-center mt-3 mb-3">
                    <button class="bg-white w-100 p-3 rounded-full text-red-600 border border-red-600 px-6 py-3 me-8"
                        type="button" (click)="cancelProfilePreviewUpload()">
                        Cancel
                    </button>
                    <button class="text-white border-0 w-100 p-3 rounded-full bg-red-600 px-6 py-3" type="button"
                        (click)="confirmFileUpload()">
                        Confirm
                    </button>
                </div>
            </div>
        </ng-container> -->
    </ng-container>
</ng-template>