<app-title
  titleName="Form Builder"
  additionalClass="text-lg font-bold"
  [canGoBack]="false"
></app-title>

<div class="flex justify-between border-b-2 pb-8 mb-8">
  <div class="border border-gray-300 rounded-full px-4 py-2 w-80 relative">
    <input
      type="text"
      class="outline-none border-none w-full pr-3 text-sm"
      placeholder="Search for an existing workflow"
      (input)="getSearchedValue($event.target.value)"
    />
    <img
      src="assets/images/workflowCards/searchIcon.svg"
      alt=""
      class="absolute right-3 top-2.5"
    />
  </div>
  <button
    type="button"
    class="bg-red-600 text-white rounded-lg px-4 py-2 text-sm"
  >
    <div (click)="redirectToForm()">
      <i class="fa-solid fa-plus me-2"></i>Add New Form
    </div>
  </button>
</div>

<app-title titleName="Pre Defined Forms" [canGoBack]="false"></app-title>

<app-common-data-view
  #dataView
  [paginator]="true"
  paginationpos="bottom"
  lazyLoad="false"
  [localData]="gridData"
  [gridViewItem]="gridViewItem"
  [rowsPerPage]="rowsPerPage"
  (onCustomPageChangeEvent)="onCustomPageChangeEvent($event)"
>
  <ng-template #gridViewItem let-rowData="griDdata">
    <div class="bg-white border rounded-lg shadow-md px-5 pb-5 pt-3">
      <div class="flex items-center justify-between mb-1 me-3">
        <div class="flex items-center">
          <img src="/assets/images/workflowCards/cycleIcon.svg" alt="" />
          <p class="text-gray-800 font-medium text-sm ps-2">
            {{ rowData?.form_name }}
          </p>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="!w-0">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="updateCard(rowData.form_id)">
            <span>Edit</span>
          </button>
          <button
            mat-menu-item
            (click)="
              rowData?.status == 1
                ? openSwalModal(rowData?.form_id, 0)
                : updateCardStatus(rowData?.form_id, 1)
            "
          >
            <span>{{ rowData?.status == 1 ? "Inactive" : "Active" }}</span>
          </button>
        </mat-menu>
      </div>
      <span
        class="rounded-lg px-4 py-2 text-xs text-white font-semibold text-center"
        [ngClass]="[rowData?.status == 1 ? 'bg-emerald-500' : 'bg-sky-700']"
      >
        {{ rowData?.status == 1 ? "Active" : "In Active" }}
      </span>
      <div class="flex items-start mt-5">
        <img src="/assets/images/workflowCards/departmentIcon.svg" alt="" />
        <p class="text-gray-800 text-sm ps-2">
          {{ rowData?.form_description }}
        </p>
      </div>
    </div>
  </ng-template>
</app-common-data-view>
