<div class="flex flex-col items-center justify-center h-full p-8">
    <div class="flex justify-center mb-6">
        <img src="assets/images/loginPage/ollLogo.svg" alt="OLL Logo" class="h-16">
    </div>
   <div class="bg-white p-10 border-2 rounded-3xl shadow-lg w-full max-w-md">
        <div *ngIf="currentScreen === 'sendOtp'">
            <div class="text-center mb-6">
                <h2 class="text-2xl font-semibold">Forgot Password</h2>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">
                <input type="text" formControlName="mobileNumber" placeholder="Mobile Number" class="form-control w-full px-4 py-2 mb-4 border rounded-full bg-gray-200">
                <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-full mt-4">Send OTP</button>
            </form>
        </div>

        <div *ngIf="currentScreen === 'enterOtp'">
            <div class="text-center mb-6">
                <h2 class="text-2xl font-semibold">Enter OTP</h2>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="verifyOtp()">
                <input type="text" formControlName="otp" placeholder="OTP" class="form-control w-full px-4 py-2 mb-4 border rounded-full bg-gray-200">
                <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-full mt-4">Verify</button>
            </form>
        </div>

        <div *ngIf="currentScreen === 'resetPassword'">
            <div class="text-center mb-6">
                <h2 class="text-2xl font-semibold">Reset Password</h2>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                  <div class="relative">
                    <input
                      formControlName="newPassword"
                      placeholder="New Password"
                      class="form-control w-full px-4 py-2 mb-4 border rounded-full bg-gray-200"
                      [type]="passwordFieldType"
                    />
                    <i [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}"
                    (click)="togglePasswordVisibility()" id="togglePassword" class="toggle-eye fas fa-eye-slash absolute right-3 top-1/2 pb-3.5 transform -translate-y-1/2 text-red-600 cursor-pointer"></i>
                  </div>
                </div>
                <div class="form-group">
                  <div class="relative">
                    <input
                    [type]="passwordFieldType"
                      formControlName="confirmPassword"
                      placeholder="Confirm Password"
                      class="form-control w-full px-4 py-2 mb-4 border rounded-full bg-gray-200"
                    />
                    <i [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}"
                    (click)="togglePasswordVisibility()" id="togglePassword" class="toggle-eye fas fa-eye-slash absolute right-3 top-1/2 pb-3.5 transform -translate-y-1/2 text-red-600 cursor-pointer"></i>
                  </div>
                </div>
                <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-full mt-4">Submit</button>
            </form>
              
        </div>
    </div>
</div>

