@import "../../../../node_modules/drawflow/dist/drawflow.min.css";

.custom-workflow-height {
  height: calc(100vh - 15rem);
}

#drawflow {
  background: var(--background-color);
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  #drawflow {
    width: calc(100vw - 51px);
  }
}

::ng-deep .drawflow .drawflow-node {
  background-color: #fff !important;
  width: 15rem !important;
  padding: 0rem;
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  overflow: hidden;
}

::ng-deep .drawflow .drawflow-node .output {
  height: 15px;
  width: 15px;
  border: 2px solid #000;
}

::ng-deep .drawflow .drawflow-node .output:hover {
  background: #4ea9ff;
}

::ng-deep .drawflow .drawflow-node .output {
  right: 10px;
}
