<app-title
  titleName="Workflow Builder"
  additionalClass="text-lg font-bold"
  [canGoBack]="false"
></app-title>

<div class="flex items-center justify-between">
  <mat-form-field appearance="outline" class="w-72">
    <mat-label>Give your workflow a name</mat-label>
    <input type="text" matInput class="" />
  </mat-form-field>

  <div class="flex items-center">
    <button
      type="button"
      class="border border-red-600 text-red-600 px-10 py-2 font-medium rounded-lg text-sm me-3"
    >
      Test
    </button>

    <button
      type="button"
      class="bg-red-600 text-white rounded-lg px-10 py-2 text-sm"
    >
      save
    </button>
  </div>
</div>

<div class="grid grid-cols-3 gap-4 mt-8 h-full">
  <div class="">
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> Start Task</span>
    </div>
    <div
      class="drag-drawflow"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="slack"
    >
      <i class="fab fa-slack"></i><span> End Task</span>
    </div>
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> Add Task</span>
    </div>
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> Email Task</span>
    </div>
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> SMS Task</span>
    </div>
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> Whatsapp Task</span>
    </div>
    <div
      class="drag-drawflow mb-3"
      draggable="true"
      (dragstart)="drag($event)"
      data-node="facebook"
    >
      <i class="fab fa-facebook"></i><span> Decision Task</span>
    </div>
  </div>

  <div class="col-span-2">
    <div
      id="drawflow"
      class="w-full h-full"
      (drop)="drop($event)"
      (dragover)="allowDrop($event)"
    ></div>
  </div>
</div>
