<app-title
  titleName="Workflow Builder"
  additionalClass="text-lg font-bold"
  [canGoBack]="false"
></app-title>

<div class="flex items-center justify-between">
  <mat-form-field appearance="outline" class="w-72">
    <mat-label class="text-sm">Give your workflow a name</mat-label>
    <input type="text" matInput class="text-sm" />
  </mat-form-field>

  <div class="flex items-center">
    <button
      type="button"
      class="border border-red-600 text-red-600 px-10 py-2 font-medium rounded-lg text-sm me-3"
    >
      Test
    </button>

    <button
      type="button"
      class="bg-red-600 text-white rounded-lg px-10 py-2 text-sm"
    >
      save
    </button>
  </div>
</div>

<div class="grid grid-cols-4 gap-4 mt-4 bg-zinc-100 rounded-lg">
  <div
    class="grid grid-cols-2 gap-4 custom-workflow-height overflow-y-auto ps-4 py-4"
  >
    <div
      *ngFor="let item of preTasksArray"
      class="drag-drawflow bg-white shadow-lg rounded-lg border flex flex-col items-center justify-center cursor-move"
      draggable="true"
      (dragstart)="drag($event)"
      [attr.data-node]="item?.dataNode"
    >
      <i class="{{ item?.img }} text-red-600 text-2xl"></i
      ><span class="text-sm"> {{ item?.label }}</span>
    </div>
  </div>

  <div class="col-span-3 bg-white relative">
    <div
      id="drawflow"
      class="w-full h-full"
      (drop)="drop($event)"
      (dragover)="allowDrop($event)"
    >
      <div
        class="bg-red-600 text-white px-5 py-2 rounded-lg absolute right-6 text-sm top-3"
        (click)="onClear()"
      >
        Clear
      </div>
    </div>
  </div>
</div>
