<div class="bg-white border rounded-lg shadow-md p-6">
  <div class="flex items-center mb-5">
    <img src="/assets/images/workflowCards/cycleIcon.svg" alt="" />
    <p class="text-gray-800 font-medium text-sm ps-2">{{ data?.form_name }}</p>
  </div>
  <span
    class="rounded-lg px-4 py-2 text-xs text-white font-semibold text-center"
    [ngClass]="[data?.status == 1 ? 'bg-emerald-500' : 'bg-sky-700']"
  >
    {{ data?.status == 1 ? "Payment Collection" : "Educator Payment" }}
  </span>
  <div class="flex items-start mt-5">
    <img src="/assets/images/workflowCards/departmentIcon.svg" alt="" />
    <p class="text-gray-800 text-sm ps-2">
      {{ data?.form_description }}
    </p>
  </div>
</div>
