/* Footer.css */
.custom-font {
  font-family: "Poppins"!important;
  font-size: 10px; /* Adjust the size as needed */
  font-weight: 400; /* Adjust the weight as needed */
  color: #000000;
}

.tab-button-red .tab-button-icon,
.tab-button-red .tab-button-label {
  color: #e71010 !important;
}