.sideBarNav {
    transition: transform 0.3s ease-in-out;
    width: 250px;
    transform: translateX(-100%); /* Initially hide the sidebar */
  
    &.open {
      transform: translateX(0); /* Move into view when open */
    }
  
    &.closed {
      transform: translateX(-100%); /* Hide the sidebar when closed */
    }
  }
  