<div class="custom-height bg-blue-900">
  <!-- <button (click)="toggleMenu()">Toggle Menu</button> -->

  <ul class="menu-collapsed">
    <ng-container *ngFor="let menu of menu_items">
      <li>
        <a
          [routerLink]="menu.route_url"
          routerLinkActive="active"
          matTooltip="{{ menu.label }}"
          matTooltipPosition="right"
          class="flex items-center justify-center flex-col text-center py-6"
          [ngClass]="[
            menu.route_url == currentEndPoint ? 'bg-blue-800' : 'bg-blue-900'
          ]"
        >
          <!-- <mat-icon class="{{menu.icon}}"></mat-icon> -->
          <i class="fa-solid fa-user-tie text-white"></i>
          <div class="text-sm text-white mt-1">{{ menu.label }}</div>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
