<div class="">
    <div class="text-xl xxl:text-2xl font-semibold">
      Add new form
      <div class="border-4 rounded-xl w-10 border-red-500 mt-1"></div>
    </div>
  
    <div cdkDropListGroup class="grid grid-cols-2 gap-4">
      <div class="border-2 p-5 rounded-2xl">
        <span class="font-medium">Choose form fields</span>
  
        <div
          class="grid grid-cols-2 gap-4"
          cdkDropList
          [cdkDropListData]="chooseFromArray"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="border rounded-md p-2 text-sm flex items-center"
            *ngFor="let item of chooseFromArray"
            cdkDrag
          >
            <img
              src="/assets/images/addNewForm/{{ item.img }}.svg"
              class="me-2 w-4"
            />
            <span>{{ item.label }}</span>
          </div>
        </div>
      </div>
  
      <div class="border-2 p-5 rounded-2xl">
        <span class="font-medium">Choosen fields</span>
  
        <form action="">
          <mat-form-field class="w-full mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              type="email"
              appInputChar="email"
            />
          </mat-form-field>
          <div
            cdkDropList
            [cdkDropListData]="chosenFields"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="text-sm flex items-center mb-3"
              *ngFor="let item of chosenFields"
              cdkDrag
            >
              <mat-form-field
                class="w-full"
                appearance="outline"
                *ngIf="item.acceptOnly == 'string'"
              >
                <mat-label>{{ item?.label }}</mat-label>
                <input
                  matInput
                  placeholder="{{ item?.label }}"
                  type="email"
                  appInputChar="email"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  