<form class="px-4 pt-4" [formGroup]="emailTaskForm" (ngSubmit)="submitForm()">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label class="text-sm">Subject</mat-label>
    <input matInput type="text" class="outline-none text-sm" formControlName="email_subject"/>
  </mat-form-field>

  <mat-form-field class="w-full my-4" appearance="outline">
    <mat-label class="text-sm">Body</mat-label>
    <textarea matInput class="outline-none text-sm" formControlName="email_body"></textarea>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label class="text-sm">Receiver Email Id's</mat-label>
    <input matInput type="text" class="outline-none text-sm" formControlName="recipient_emails"/>
  </mat-form-field>

  <button
    type="submit"
    class="text-sm bg-red-600 text-white rounded-lg w-28 py-2 fixed bottom-4 right-6"
  >
    Submit
  </button>
</form>
