.input-field {
  width: 100%;
  border: 1px solid #7b7b7b;
  border-radius: 15px;
}
.scrollable-content {
  max-height: calc(200vh - 150px); /* Adjust the height as needed */
  overflow: hidden; /* Enable vertical scrolling */
  padding-right: 15px; /* Add padding to avoid scrollbar overlap */
}

.native-input.sc-ion-input-md {
  padding-left: 8px !important;
}
.native-input.sc-ion-input-ios {
  padding-left: 8px !important;
}

.workflow-selection-container {
  overflow-y: auto;
}

.save-change-button {
  padding-bottom: 15px !important;
}

@media (min-width: 768px) {
  .workflow-selection-container {
    max-height: calc(100vh - 130px);
    overflow: hidden;
  }
}
